<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<p>
    Вы отправили запрос на восстановление пароля.
    Для этого перейдите по этой ссылке <a th:href="${link}" th:text="${link}">link to reset password</a>.
    Эта ссылка будет действительна 15 минут.
</p>
</body>
</html>