<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<p>
    Чтобы подтвердить свою почту и активировать аккаунт перейдите по этой ссылке
    <a th:href="${link}" th:text="${link}">link to reset password</a>.
    Эта ссылка будет действительна 15 минут.
</p>
</body>
</html>