<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<p>
    Чтобы подтвердить свою почту и активировать аккаунт перейдите по этой ссылке
    <a th:href="${link}" th:text="${link}">link to reset password</a>.
    <br>Она будет действительна <a style="font-weight: bold;" th:text="${tokenTtl}">60</a><a style="font-weight: bold;">
    минут.</a>
    <br>Если Вы не активируете свой аккаунт, то все его данные будут удалены.
</p>
</body>
</html>